name: mobile_vending_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.6.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.3.0
  font_awesome_flutter: ^10.5.0
  flutter_countdown_timer: ^4.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/profile_image.png
    - assets/google.png
    - assets/email.png
  fonts:
    - asset: assets/fonts/Poppins/Poppins-Light.ttf
      weight: 300
    - asset: assets/fonts/Poppins/Poppins-Regular.ttf
      weight: 400
    - asset: assets/fonts/Poppins/Poppins-Medium.ttf
      weight: 500
    - asset: assets/fonts/Poppins/Poppins-Bold.ttf
      weight: 700
